/* CSS for mobile devices */
@media screen and (max-width: 820px) { 
    .header {
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    .navbar {
        display: none;
    }

    .navbar a {
        margin: 5px 20px;
    }

    .home {
           flex-direction: column-reverse;
           width: 100%;
           min-height: 100vh; 
           background: rgb(241, 241, 241);
           display: flex;
           align-items: flex-start;
           gap: 5em;
           padding: 10px 10% 0;
    }

    .card {
        flex: 100%;
    }  

    .leisure-container-card {
        flex: 100%;
    }

}