/*
* ==== GLOBAL PROPERTIES =============
*/
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}

/*
* ==================== Header navigation bar ===============
*/
.header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: space-evenly;
    padding: 35px 12%;
    z-index: 100;
    background: rgba(0, 0, 0, 0.801);
    backdrop-filter: blur(10px);
}

.logo {
    font-size: 25px;
    color: white;
    font-weight: 600;
    transition: 0.3s ease;
}

.logo:hover {
    color: orangered;
    text-shadow: 0 0 25px orangered,
        0 0 50px orangered;
    transform: scale(1.1);
}

span {
    color: orangered;
}

.navbar {
    display: flex;
    justify-content: center;
    margin: 0 50px;

}

.navbar a {
    color: white;
    font-size: 18px;
    font-weight: 500;
    margin: 0 20px;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease;
}

.navbar a:hover {
    color: orangered;
    border-bottom: 3px solid orangered;
}

.contact {
    padding: 5px 5px;
    background-color: white;
    color: black;
    border: 2px solid transparent;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    transition: 0.3s ease;
    max-width: 40%;
}

.contact img {
    width: 20px;
    height: 20px;

}

.contact:hover {
    background-color: orangered;
    box-shadow: 0 0 25px orangered;
}

/*
* ==================== Home Section ===============
*/
.home {
    width: 100%;
    min-height: 50vh;
    background: rgb(241, 241, 241);
    display: flex;
    align-items: center;
    gap: 7em;
    padding: 30px 12% 0;
}

.home-content {
    max-width: 800px;
}

.home-content h3 {
    font-size: 42px;
}

.home-content h1 {
    font-size: 62px;
    line-height: 1.2;
}

.home-content p {
    font-size: 18px;
    margin: 25px 0 30px;
}

.img-box img {
    border-radius: 50%;
    width: 200px;
}

section {
    scroll-margin-top: 120px;
}

/*
* ==================== Experience Section ===============
*/
.experience {
    width: 100%;
    min-height: 30vh;
    background: lightsalmon;
    padding: 30px 12% 0;
}

.experience img {
    width: 20px;
    height: 20px;

}

.experience-links {
    margin: 25px 0 30px;
    font-size: 25;
    font-weight: 600;
    letter-spacing: 1px;

    padding: 5px 5px;
    background-color: white;
    color: black;
    border: 2px solid transparent;
    border-radius: 8px;
    font-size: 16px;
    transition: 0.3s ease;
    max-width: 40%;
}

.experience a:link {
    color: black;
}

/* mouse over link */
.experience a:hover {
    color: darkred;
    text-decoration: underline;
    text-shadow: 0 0 25px darkorange,
        0 0 50px darkorange;
}

/* selected link */
.experience a:active {
    color: blue;
}


/*
  *  ==================== Leisure Section ===============
  */
  .leisure {
    width: 100%;
    min-height: 30vh;
    background: lightgrey;
    padding: 30px 12% 10px;
}

.leisure-container {
    max-width: 80%;
    margin: 50px auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 25px;
}


.leisure-container-card {
    flex: 1;
    flex-basis: 40%;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    max-width: 70%;
    padding: 10px 1% 10px;
}

.leisure-container-card h3 {
    color: #026aa6;
    font-size: 27px;
    margin-bottom: 10px;
    width: 70%;
    padding: 0 10px 5px;
}

.leisure-container-card p {
    color: #333;
    font-size: 17px;
    line-height: 1.6;
    padding: 0 10px 10px;
}

.leisure-container-card:hover {
    transform: scale(1.5);
}

.leisure-container-card .img-small {
    border-radius: 8px;
    width: 30%;
}

.leisure-container-card .img-large {
    border-radius: 8px;
    width: 100%;
}

/*
* ==================== Philanthropy Section ===============
*/
.philanthropy {
    width: 100%;
    min-height: 30vh;
    background: rgb(241, 241, 241);
    padding: 30px 12% 10px;
}

.card-container {
    max-width: 80%;
    margin: 50px auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 25px;
}

.card {
    flex: 1;
    flex-basis: 40%;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    max-width: 70%;
}

.card:hover {
    transform: scale(1.5);
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.card-content {
    padding: 20px;
}

.card-content h3 {
    color: #026aa6;
    font-size: 27px;
    margin-bottom: 10px;
}

.card-content p {
    color: #333;
    font-size: 17px;
    line-height: 1.6;
}


.philanthropy-links {
    margin: 25px 0 30px;
    font-size: 25;
    font-weight: 600;
    letter-spacing: 1px;

    padding: 5px 5px;
    background-color: white;
    color: black;
    border: 2px solid transparent;
    border-radius: 8px;
    font-size: 16px;
    transition: 0.3s ease;
    max-width: 40%;
}

.philanthropy-links img {
    width: 20px;
    height: 20px;
}

/*
* ==================== Footer Section ===============
*/
.footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 35px 12%;
    z-index: 100;
    background: rgba(0, 0, 0, 0.801);
    backdrop-filter: blur(10px);
    color: white;
    font-size: 18px;
}